

@media only screen and (max-width: 768px) {
    .block-1{
        display: flex;
      flex-direction: column;
     
    }
    html{
        position: relative !important;
        left: 0px !important;
     
    }
    
    .block-2{
        display: flex;
      flex-direction: column;
     
    }
    .accommodationBox{
        width: 347px !important;
    }
    .image{
        width: 347px !important;
    }
    #accommodationsBox{
        width: auto !important;
        scale: 0.9;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        background-color: white !important;
    }
    #activitiesBox{
        display: flex;
        flex-direction: column;
    }
    #links    {
    display: flex !important;
    flex-direction: column !important;
  
    background-color: rgb(231 231 231);
    height: 200px;
   width: 443px !important;
    padding-top: 3em;
    display: flex;
    position: relative;
    
    left: -68px;
    bottom: -848px !important;
    left: -27px !important;
   
   
    
    }
    .content{
        display: flex;
        flex-direction: column;
        width: auto !important;
    }
    
    .flexCards{
        display: flex;
        flex-direction: column;
    }
    .bottomnav-left{
        background-color: #F2F2F2;
    }
    .bottomnav-center{
        background-color: #F2F2F2;
        left: 0px !important;
    }
    .bottomnav-right{
        background-color: #F2F2F2;
        left: 0px !important;
    }
    .filters{
       position: relative !important;
       left: 0px !important;
       top: 20px !important;
       display:contents !important;
    }
    h2,h3{
        position: relative !important;
       left: 34px !important;
   
    }
    .bookiLogo{
        position: relative !important;
       
       left: 175px !important;

    }
    .searchbox{
        position: relative !important;
        left: 69px !important;
        top: 28px !important;
    }
    .submit{
        visibility: hidden;
        
    }
    .searchMobile{
        visibility: visible !important;
        position: relative;
        top: 27px;
        left: -18px;
        height: 47px;
        width: 45px;
        border-radius: 11px;
        color: white;
        background-color: #0065FC;
    }
    header{
        width: 100%;
    }
    .topnavLink{
        position: relative;
    left: 528px;
    top: 68px;
    }
    .topnavLink:hover{
        color: #0065FC;
        border-top: none !important;
        border-bottom: 3px solid #00f !important;
      }
      .locationPinBackground{
        position: relative !important;
        top: 96px !important;
        left: 23px !important;
      }
      .locationDot{
        position: relative !important;
        top: 62px !important;
        left: 40px !important;
      }
      .dreamText{
       
    position: relative !important;
    top: 82px !important;


      }
      .downtownText{
        position: relative !important;
        top: 82px !important;
        font-weight: 500;
      }
      .sidebar{
        order:-2;
        width: 400px !important;
        margin-bottom: -40px;
        
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
       
   

      }
      .mostPopular1{
        
    width: 354px !important;

      }
      .mostPopular2{
        width: 354px !important;
        
      }
      .mostPopular3{
        width: 354px !important;
        margin-bottom: 55px;
      }
      .chart{
        right: -173px !important;
      }
      .callanquesBox{
left: 58px !important;
      }
      .notreDameBox{
        left: 58px !important;
      }
      .notreDameBox2{
        left: 58px !important;
      }
      .pomeguesSmall{
        height: 180px;
        left: 58px !important;
      }
      .pomeguesSmall2{
        left: 58px !important;
      }
      .oldPortBox{
        left: 58px !important;
        height: 180px;
        overflow: hidden !important;
      }
      .imageActivities{
    content: url(resizedmobile.png) !important;
    height: 118px !important;
      }
 
      .imageActivitiesBigAndWide{
        height: 120px !important;
      }
      .imageActivitiesSmallAndWide{
        height: 120px !important;
      }
    
  
    }
*,*::before, *::after {
    box-sizing: border-box;
  }

  html{
    position: relative;
    left: 215px;
    font-family: Raleway;
   
    margin: auto;
  }
  body{
   
   
      background-color:white;
  
      color:rgb(40, 22, 75);
      
  }

  h2,h3{
    left: 38px;
    position: relative;
}
.bookiLogo{
    position: relative;
    left: 38px;
}
.filters{
    
    left: 124px;
    position: relative;
    top: -30px;
    display: flex;
    margin-top: -43px;

}
 .filterBackground{
   
    border-radius: 22px;
    width: 50px;
    height: 50px;
    background-color: #d0e3ff;
    position: relative;
    top: 50px;
}

    
 
 #money{
 
    position: relative;
    left:-173px;
    color:#0065FC;
 }
 #child{
    position: relative;
    left: -191px;
    color:#0065FC;
 }
 #love{
    position: relative;
    left:-173px;
    color:#0065FC;
 }
 #dog{
    position: relative;
    left: -191px;
    color:#0065FC;
 }
.chart{
    position: relative;
    right: -239px;
    top: 34px;
    width: 22px;
    height: 22px;
}
.infoBackground{
    width: 32px;
    height: 32px;
    border-radius: 15px;
    background: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    position: relative;
    top: 48px;

}
#infoSign{
    color: #0065FC;
    position: relative;
}
.mostPopularTitle{
    display: flex;
}
.mostPopularTextTitle{
    position: relative;
    top: 6px;
    left: 32px;
    font-weight: 900;
    font-size: x-large;

}

 .submit{
    background-color: #0065FC;;
    color: white;
    font-weight: 600;
    left: 460px;
    position: relative;
    height: 45px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: -17px;
    width: 90px;
 }
 .searchMobile{
        visibility: hidden;
}
.locationPinBackground{
    background-color: #F2F2F2;
    height: 45px;
    width: 45px;
    position: relative;
    left: 34px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 67px;
}
.locationDot{
    height: 19px;
    width: 19px;
    position: relative;
    top: 34px;
    left: 51px;
}
.headerText{
    line-height: 0.4;
}
.header{
    font-family: 'Raleway';


}


.searchbox,.submit{
    
    left: 79px;
    position: relative;
    font-weight: bolder;
    border-width:1px;
    font-size: large;
}

.searchbox{
    height:45px;
    color: black;
}
.searchbox::placeholder{
    color: black;
    text-align: center;
}
.topnav-right{
    float: right;
    flex:1 1 33.333%;
    position: relative;
    right: 600px;
    font-weight: bolder;
    top: 17px;
}
.topnavLink:hover{
    color: #0065FC;
    border-top: 3px solid #00f;
    
}
.topnavLink{
padding: 20px;
}

.filterSmall{
    text-align: center;
    width: 184px;
    
    height: 50px;
    border: 0px;
    background-color: white;
    border-radius: 18px;
    border-width: 1px;
    border-color: rgb(201, 191, 191);
    border-style: solid;
    font-weight: 900;
}
.filterBig{
    text-align: center;
    width: 204px;
    
    height: 50px;
    border: 0px;
    background-color: white;
    border-radius: 18px;
    border-width: 1px;
    border-color: rgb(201, 191, 191);
    border-style: solid;
    font-weight: 900;
}

.filterSmall:hover{
    background-color: #0065FC;
}
.filterBig:hover{
    background-color: #0065FC;
}
.filtersText{
    position: relative;
    left: 39px;
    top: 31px;

}

.content{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 40px;
   justify-content: center;
   width: 1350px;
}

#accommodationsBox{
    flex: 1 1 50%;
    background-color: #F2F2F2;
    border-radius: 15px;
    max-width: 828px;
    padding-right: 1em;
    min-height: 400px;
    height: 680px;
    
}
.accommodationBox{
    width: 230px;
    height: 217px;
    border-width: 1px;
    
    border-color: black;
    border-radius: 15px;
    background-color: white;
    position: relative;
    left: 23px;
    
    }

.block-1{
    display: flex;
    flex-basis: (100%)/3;
    gap: 25px;
    flex: 1;
   
    position: relative;
    left: 17px;
    top: 14px;
}
.block-2{

    display: flex;
    
    flex-basis: (100%)/3;
    gap: 25px;
    flex: 1;
    position: relative;
    left: 17px;
    top: 38px;
    
}
.image{
    border-radius: 15px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    padding: 0.2em;
    width: 228px;
    height: 132px;


   
   }

.dreamText{
    line-height: 1.2;
   
}
.text{
    padding-left: 1em;
    font-weight: bolder;
    position: relative;
    top: -15px;
    left: -6px;

}
.showMoreText{
    position: relative;
    left: 20px;
    top: 66px;
    font-weight: bolder;}
.accommodationsTitleText{
    position: relative;
    left: 38px;
    top: 6px;
    font-weight: bolder;
    font-size: x-large;}
.nightStartingtext{
    position: relative;
    top: -26px;
    left: 10px;
}
.activitiesTitleText{
    font-size: x-large;
}
.textActivity{
    position: relative;
    left: 20px;
    font-weight: bolder;
}

.imageSidebar{
    width: 150px;
    height: 157px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
    top: 4px;
    left: 4px;
}
.sidebar{
    flex: 1 1 25%;
    background-color: #F2F2F2;
    max-width: 450px;
    border-radius: 15px;
    
}
.mostPopular1{
    height: 165px;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    position: relative;
    background-color: white;
    margin-bottom: 44px;
    width: 402px;
    
    left: 23px;
    top: 13px;
}

.ratingStars1{
    position: relative;
 
    bottom: -15px;
    right: 17px;
    top: 44px;
    
}
.ratingStars2{
    position: relative;
    right: 17px;
    top: 30px;
}


.ratingStars3{
    position: relative;
    bottom: -23px;
    right: 17px;
}
  .ratingStarsAccommodations{
    position: relative;
    left: 7px;
    top: -33px;
  }

.mostPopular2{
    height: 165px;
    border-width: 1px;
    background-color: white;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 31px;
    width: 402px;
    position: relative;
    left: 23px;

}
.mostPopular2Text{
    
    word-wrap: break-word;
    padding-left: 0.7em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
}

.gray-color{
    color: #F2F2F2;
}

.blue-color{
    color: #0065FC;
}

.mostPopular3{
    height: 165px;
    background-color: white;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
    display: flex;
    border-radius: 20px;
    width: 402px;
    position: relative;
    left: 23px;

}



#activitiesBox
{
    display:flex;   gap: 20px;
   flex-direction: column;
    
    background-color: white;
    border-radius: 15px;
    
   
    min-height: 400px;
    max-height: 600px;
    padding-bottom: 3em;
   
    
   

}
.flexCards{
    
    display: flex;
    gap: 53px;
}

.imageActivities{
    border-radius: 20px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    height: 375px;
    width: 298px;
}

.imageActivitiesMobile{
 visibility: hidden;
}

.oldPortBox{
    border-width:1px;

   
  
    border-radius: 20px;
    max-height: 444px;
    position: relative;
    left: 22px;
    width: 300px;
}
.pomeguesBox{
    border-width:1px;
  
    border-color:black;
   
        border-radius: 20px;
        max-height: 444px;        
        gap: 25px;
        position: relative;
        left: -93px;
       
        width: 300px;
       
}
.pomeguesSmall{
    border-width:1px;
   
        max-width: 300px;
        border-radius: 20px;
        max-height: 444px;        
        gap: 25px;
        position: relative;
        left: 9px;
        width: 300px;
        height: 224px;
}
.pomeguesSmall2{
    border-width:1px;
   
        max-width: 300px;
        border-radius: 20px;
        max-height: 444px;        
        gap: 25px;
        position: relative;
        left: 9px;
        width: 300px;
        height: 174px;
        bottom: -35px;
}
.callanquesBox{
    border-width:1px;
   
        max-width: 300px;
        border-radius: 20px;
        max-height: 444px;
        position: relative;
    left: -8px;
    width: 300px;
}

.notreDameBox{
    border-width:1px;        
        height: 174px;
        border-radius: 20px;
        width: 300px;
        position: relative;
        right: 21px;
        
}
.notreDameBox2
{
    border-width: 1px;
    
    height: 224px;
    border-radius: 20px;
    width: 300px;
    position: relative;
    right: 21px;
    bottom: -34px;
}
.imageActivitiesSmallAndWide{
    width: 298px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    height: 116px;
}
.imageActivitiesBigAndWide{
    width: 298px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    height: 167px;
}
#links{
    
    background-color: #F2F2F2;
    height: 200px;
    width: 100%;
    padding-top: 3em;
    display: flex;
    position: relative;
    width: 1445px;
    left: -68px;
    
    

   
  
}
.bottomnav-left{
    float: left;
    flex:1 1 33.333%;
    }
.bottomnav-center{
    float: center;
    flex:1 1 33.333%;
    position: relative;
    left: -165px;
    
}
.bottomnav-right{
    position: relative;
    left: -384px;
}
.bottomnav-left ul{
    list-style:none;
    text-decoration: none;
}
.bottomnav-right ul{
    list-style: none;
}
.bottomnav-center ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}